* {
    box-sizing: border-box;
}

p, span, div {
    height: 100px;
    border: 1px solid salmon;
    margin: 20px;
    padding: 50px;
}

span {
    display: block;
}

body {
    background-color: aqua;
}