* {
    box-sizing: border-box;
}

.wrapper {
    border: 1px solid salmon;
    padding: 4px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

header, main, aside, footer {
    padding: 12px;
    margin: 2px;
}

img {
    width: 150px;
    border-radius: 60%;
}

header {
    border: 1px solid salmon;
}

main {
    border: 1px solid salmon;
}

aside {
    border: 1px solid salmon;
}

footer {
    border: 1px solid salmon;
}

footer:hover {
    background-color: aquamarine;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color:blueviolet;
}

a:hover {
    color: pink;
}

img:hover {
    width: 200px;
}